<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<!-- ************************数据库连接部分************************ -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sshsy6?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="yukiww233" />
		
	</bean>
<!-- ************************会话工厂部分************************ -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.current_session_context_class">
					thread
				</prop>  
				<prop key="hibernate.show_sql">true</prop> 
			</props>
		</property>
		<property name="mappingResources">	
		<list>	
				<value>com/cn/bean/User.hbm.xml</value>		
				<value>com/cn/bean/Airport.hbm.xml</value>
				<value>com/cn/bean/Flight.hbm.xml</value>
				<value>com/cn/bean/Userorder.hbm.xml</value>
		</list>
		</property>
	</bean>

	<!-- ************************DAO层***************************** -->
	<bean id="baseDao" class="com.cn.dao.impl.BaseHibernateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
		<bean id="userDao" class="com.cn.dao.impl.UserDaoImpl" parent="baseDao">
	</bean>	
	
		<bean id="airportDao" class="com.cn.dao.impl.AirportDaoImpl" parent="baseDao">
	</bean>	
	
		<bean id="flightDao" class="com.cn.dao.impl.FlightDaoImpl" parent="baseDao">
	</bean>	
	
	<bean id="userorderDao" class="com.cn.dao.impl.UserorderDaoImpl" parent="baseDao">
	<property name="userDao" ref="userDao"/>
	</bean>		
	<!-- ************************service层************************ -->
	<bean id="userService" class="com.cn.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="airportService" class="com.cn.service.impl.AirportServiceImpl">
		<property name="airportDao" ref="airportDao"></property>
	</bean>
	
	<bean id="flightService" class="com.cn.service.impl.FlightServiceImpl">
		<property name="flightDao" ref="flightDao"></property>
	</bean>
	
	<bean id="userorderService" class="com.cn.service.impl.UserorderServiceImpl">
		<property name="userorderDao" ref="userorderDao"></property>
	</bean>	
	<!-- ************************action层************************ -->
	<bean id="userAction" class="com.cn.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="airportAction" class="com.cn.action.AirportAction" scope="prototype">
		<property name="airportService" ref="airportService"/>
	</bean>
	
	<bean id="flightAction" class="com.cn.action.FlightAction" scope="prototype">
		<property name="flightService" ref="flightService"/>
		<property name="airportService" ref="airportService"/>
	</bean>
	
	<bean id="userorderAction" class="com.cn.action.UserorderAction" scope="prototype">
		<property name="userorderService" ref="userorderService"/>
		<property name="userService" ref="userService"/>
	</bean>	
	</beans>
